wm/ags/.config/ags/res/*
colors-catppuccin.lua
lazy-lock.json

gaming/ddnet/.local/share/ddnet/*
!gaming/ddnet/.local/share/ddnet/settings_ddnet.cfg
!gaming/ddnet/.local/share/ddnet/phacrum.cfg
!gaming/ddnet/.local/share/ddnet/bootee.cfg
!gaming/ddnet/.local/share/ddnet/assets
gaming/ddnet/.local/share/ddnet/maps/*
!gaming/ddnet/.local/share/ddnet/maps/bg/*

cli/neovim/.config/nvim/grug-far
cli/neovim/.config/nvim/lazy
cli/neovim/.config/nvim/log
cli/neovim/.config/nvim/blink
cli/neovim/.config/nvim/shada
cli/neovim/.config/nvim/neogit
cli/neovim/.config/nvim/sessions
cli/neovim/.config/nvim/mason-registry-update
