layout {

    focus-ring {
        active-color   "#cccccc"
        inactive-color "#000000"
        urgent-color   "#dddddd"
    }

    border {
        active-color   "#cccccc"
        inactive-color "#000000"
        urgent-color   "#dddddd"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cccccc"
        inactive-color "#846262"
        urgent-color   "#dddddd"
    }

    insert-hint {
        color "#cccccc80"
    }
}

recent-windows {
    highlight {
        active-color "#cccccc"
        urgent-color "#dddddd"
    }
}
