layout {
    default_tab_template {
        pane size=2 borderless=false {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                // hide_frame_for_single_pane "true"

                format_left   "{mode}#[fg=blue,bg=black,bold] {session}#[fg=black]"
                format_center  "{tabs}"
                // format_right  "{command_git_branch}"
                format_space  ""

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=black]{char}"
                border_position "bottom"

                mode_normal  "#[fg=blue]#[bg=blue] "
                mode_tmux    "#[fg=yellow]#[bg=yellow] "

                tab_normal    "#[fg=bright_black]#[fg=white,bg=bright_black,bold]{index} #[bg=black] {name}{fullscreen_indicator}{sync_indicator}{floating_indicator}#[fg=black]"
                tab_active    "#[fg=bright_white]#[fg=black,bg=bright_white,bold,italic]{index} #[bg=white,fg=black] {name}{fullscreen_indicator}{sync_indicator}{floating_indicator}#[fg=white]"
                tab_separator "#[] "
                tab_fullscreen_indicator " 󰽢 "
                tab_sync_indicator       "  "
                tab_floating_indicator   "'"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue,bg=black] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                command_pwd_command  "pwd"
                command_pwd_format   "#[fg=blue,bg=black] {stdout} "

                datetime        "#[fg=fg,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }
        children
    }
}
