layout {
    tab name="dev" {
        pane size=2 borderless=false {
            plugin location="zjstatus-bar"
        }
        pane split_direction="vertical" {
            pane command="nvim" cwd="src/ASSA/"
            pane command="jp" cwd="src/ASSA/"
            // pane command="./docker_dev/run.sh"
        }
    }

    tab name="log" {
        pane size=2 borderless=false {
            plugin location="zjstatus-bar"
        }

        pane split_direction="vertical" {
            pane command="./docker_dev/tb.sh"
            pane {
                command "yazi"
                args "src/ASSA/data/output/"
            }
        }
    }

    tab name="misc" {
        pane size=2 borderless=false {
            plugin location="zjstatus-bar"
        }

        pane split_direction="vertical" {
            pane
            // pane command="lazydocker"
            // pane {
            //     plugin location="https://github.com/dj95/zj-docker/releases/latest/download/zj-docker.wasm"
            // }
        }

    }
}
