.notification-popup {
    @include window;
    min-width: 25rem;

    & .notification-icon {
      margin-right: 1.0rem;
    }

    & .notification-close {
        @include hover($surface);
        color: $surfaceBright;
    }

    & .notification-action {
        @include hover($surfaceContainer);
    }
}
